body{
    font-family:  Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0;
    padding: 0;
    background-color:  hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
    font-size: 16px;
    line-height: 2;
}
main{
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    margin: 10% auto 10% auto;
    border-radius: 10px;
    padding: 4% 0 4% 0;
    
}
 #menu{
    margin : auto;
    width: 85%;
 }
 
img{
    width : 100%;
    margin: auto;
    border-radius: 10px;
}
h1{
    color: hsl(24, 5%, 18%);
}
h2{
    color: hsl(14, 45%, 36%);
}
h3{
    color: hsl(332, 51%, 32%);
}
#preparationTime{
    background-color: hsl(330, 100%, 98%);
    padding: 10px 0 10px 20px;
    border-radius: 8px;
    
}
p , ol , ul {
    padding: 10px 0 10px 0 10px;
}
.boldText , .values{
    font-weight: bold;
}
.values{
    float: right;
}
.border{
border-bottom:1px solid hsl(30, 10%, 34%);

}
.nutrition{
    width: 75%;
}
